<ul>
  <li><strong>{{_('Scalable')}}</strong> &mdash; {{_('no space limits - you can upload scientific datasets of any size.')}}</li>
  <li><strong>{{_('Citeable')}}</strong> &mdash; {{_('every upload is assigned a Digital Object Identifier (DOI), to make them citable and trackable.')}}</li>
  <li><strong>{{_('Trusted')}}</strong> &mdash; {{_('operated by DTU for all Danish science.')}}</li>
  <li><strong>{{_('Safe')}}</strong> &mdash; {{_('your research is stored safely for the future in the DTU Data Centre on proven data and server backends.')}}</li>
  <li><strong>{{_('Integrated')}}</strong> &mdash; {{_('publish your datasets directly off ScienceData without hassle.')}}</li>
  <li><strong>{{_('Sustainable')}}</strong> &mdash; {{_('the underlying software, is proven and hardened over a decade at zenodo.org and is maintained by an open-source community - guaranteeing regular security and functionality updates.')}}</li>
  <a href="https://sciencedata.dk/sites/sciencerepository#features">More...</a>
</ul>
