<ul>
  <li><strong>{{_('Connected')}}</strong> &mdash; {{_('built by CERN, OpenAIRE and EOSC to ensure that everyone can join in Open Science.')}}</li>
  <li><strong>{{_('Safe')}}</strong> &mdash; {{_('your research is stored safely for the future in the DTU Data Centre.')}}</li>
  <li><strong>{{_('Trusted')}}</strong> &mdash; {{_('data is stored on the ScienceData data fabric and the service is operated by the ScienceData team.')}}</li>
  <li><strong>{{_('Integrated')}}</strong> &mdash; {{_('publish your datasets directly off ScienceData without the data leaving the DTU Data Dentre.')}}</li>
  <li><strong>{{_('Citeable')}}</strong> &mdash; {{_('every upload is assigned a Digital Object Identifier (DOI), to make them citable and trackable.')}}</li>
  <li><strong>{{_('No waiting time')}}</strong> &mdash; {{_('Uploads are made available online as soon as you hit publish, and your DOI is registered within seconds.')}}</li>
  <li><strong>{{_('Open or closed')}}</strong> &mdash; {{_('Share e.g. anonymized clinical trial data with only medical professionals via our restricted access mode.')}}</li>
  <li><strong>{{_('Versioning')}}</strong> &mdash; {{_("Easily update your datasets with our versioning feature.")}}</li>
  <li><strong>{{_('GitHub integration')}}</strong> &mdash; {{_("Easily preserve your GitHub repository in Zenodo.")}}</li>
  <li><strong>{{_('Usage statistics')}}</strong> &mdash; {{_("All uploads display standards compliant usage statistics")}}</li>
</ul>
