<ul>
  <li><strong>{{_('Citeable')}}</strong> &mdash; {{_('every upload is assigned a Digital Object Identifier (DOI), to make them citable and trackable.')}}</li>
  <li><strong>{{_('Trusted')}}</strong> &mdash; {{_('operated by DTU for all Danish science.')}}</li>
  <li><strong>{{_('Safe')}}</strong> &mdash; {{_('your research is stored safely for the future in the DTU Data Centre on proven data and server backends.')}}</li>
  <li><strong>{{_('Integrated')}}</strong> &mdash; {{_('publish your datasets directly off connected data services without hassle.')}}</li>
  <li><strong>{{_('Solid')}}</strong> &mdash; {{_('the underlying software, built by CERN and an international open source community, is battle-proven over a decade at zenodo.org.')}}</li>
  <a href="https://sciencedata.dk/sites/sciencerepository#features">More...</a>
</ul>
