{%- from "sciencedata/helpers.html" import doi_badge with context -%}
{%- set doi_url = None %}
{%- set release = sd_object.get('latest') %}
{%- set instance = sd_object.get('instance') %}
<div class="panel-body release {{release.model.status.title|lower if release.model else ''}}">
  <div class="row">
    <div class="col-md-9">
      <h4>
        <a href="https://sciencedata.dk/index.php/apps/files?dir={{sd_object.instance.path | dirname}}&group={{ sd_object.instance.group }}" data-toggle="tooltip" title="{{ _('Go to ScienceData.') }}">
          <i class="fa fa-sciencedata text-muted"></i>
        </a>
        <a href="{{ url_for('sciencedata.sciencedataobject', path=(sd_object.instance.path | stripslashes), group=sd_object.instance.group) }}">{{ sd_object.instance.name }}</a>
      </h4>
      {%- if release.pid %}
      <p>
        {{ doi_badge(release.pid.pid_value, path=sd_object.instance.path, group=sd_object.instance.group,
        user_id=sd_object.user_id) }}
      </p>
      {%- endif %}
    </div>
  </div>
</div>
{%- if not loop.last %}
<hr />
{%- endif %}
