{%- import "sciencedata/settings/helpers.html" as helpers with context %}
{%- from "sciencedata/helpers.html" import doi_badge with context -%}
{%- if not request.is_xhr and not xhr %}
{%- extends config.SCIENCEDATA_SETTINGS_TEMPLATE %}
{%- block javascript %}
{{ super() }}
{% include "zenodo_theme/javascript.html" %}
<script type="text/javascript">
require(['jquery', 'js/sciencedata/view'], function($, view) {
  $(document).ready(function(){
    view({
      proxy_url: "{{url_for('sciencedata.sciencedata_proxy', path=path)}}",
      create_version_button: "button[name='create-version']",
      index_url: "{{url_for('sciencedata.index')}}",
      add_sciencedata_object_url: "{{url_for('sciencedata.add_sciencedata_object_url')}}",
      sciencedata_view: ".sciencedata-panels",
      sciencedata_deposits: "#sciencedata-deposits"
    });
  });
});
</script>
{%- endblock %}
{%- endif %}

{%- block settings_content %}
{%- set latest_success_pid = None %}
{%- set latest_published = sd_object.latest_release(status='D') %}
{%- if latest_published %}
  {%- set latest_success_pid = latest_published|release_pid %}
{%- endif %}
<div class="sciencedata-panels">
  <h1><i class="fa fa-sciencedata"></i>&nbsp;{{ sd_object.name }}</h1>
  {%- if latest_success_pid %}
  <p>{{ doi_badge(latest_success_pid.pid_value,
                  user_id=user_id,
                  path=request.args.get('path'),
                  group=request.args.get('group')) }}</p>
  {%- endif %}

  {{ helpers.panel_start(
    _('Published versions'),
    with_body=False,
    btn='New version',
    btn_icon='fa fa-sciencedata',
    btn_name='create-version',
    btn_text=_('Fetch and publish new version of deposit'),
    id="sciencedata-create-version",
  ) }}

    {%- block repo_releases scoped %}
    {%- for release in releases %}
    <div class="panel-body release {{release.model.status.title|lower}}">
      {%- block release_header scoped %}
      <div class="row">
        <div class="col-md-9">
            {%- block release_title scoped %}
            <h5>
              <i class="fa fa-tag fa-fw"></i>
              <a href="#" data-toggle="collapse" data-target="#{{ release.model.id }}">
                {{ release.model.version }} {{ release.title }}
              </a>
            </h5>
            {%- if release.pid %}
            <p>
              <a href="https://doi.org/{{release.pid.pid_value}}" class="text-muted">
                <i class="fa fa-fw fa-barcode"></i>
                DOI: {{release.pid.pid_value}}
              </a>
            </p>
            {%- endif %}
            <p>
              <a href="{{'https://sciencedata.dk/index.php/files?dir={0}'.format(sd_object.path | dirname)}}" class="text-muted">
                <i class="fa fa-fw fa-sciencedata"></i>
                {{release.model.version}}
              </a>
            </p>
            {%- endblock release_title %}
        </div>
        <div class="col-md-3">
          {%- block release_status scoped %}
          <h5>
            <i class="fa {{ release.model.status.icon }}"></i>
            <a href="#" data-toggle="collapse" data-target="#{{ release.model.id }}">
            {{release.model.status.title}}
            </a>
          </h5>
          <small class="text-muted">{{ release.model.created|naturaltime }}</small>
          {%- endblock release_status %}
        </div>
      </div>
    </div>
    {%- endblock release_header %}
    {%- block release_body scoped %}
    <div id="{{ release.model.id }}" class="panel-body release {{release.model.status.title|lower}} collapse">
      <ul class="nav nav-tabs" role="tablist">
        {%- if release.status == 'D' %}
        <li>
          <a href="#{{ release.model.id }}-metadata" data-toggle="tab">{{ _('Metadata') }}</a>
        </li>
        {%- endif %}
        {%- if release.model.errors %}
        <li>
          <a href="#{{ release.model.id }}-errors" data-toggle="tab">{{ _('Errors') }}</a>
        </li>
        {%- endif %}
      </ul>
      <div class="tab-content">
        {%- if release.status == 'D' %}
        {%- block releasetab_metadata scoped %}
        <div role="tabpanel" class="tab-pane" id="{{ release.model.id }}-metadata">
          <h4>{{_('JSON Export')}}</h4>
          <p>
          <small class="text-muted">
            {{config.THEME_SITENAME | default('Invenio')}} automatically
            retrieves metadata from ScienceData if present, i.e. if, on ScienceData,
            you have tagged your object with the 'Zenodo' tag and filled out the schema fields.
            If not, title, creator name and affiliation have been filled in with
            your details, and default values have been filled in for the remaining
            fields. You can (and should) complete the entries as with any other deposit.
          </small>
          </p>
          <pre>{{ serializer.serialize(release.pid, release.record)|prettyjson }}</pre>
        </div>
        {%- endblock releasetab_metadata %}
        {%- endif %}
        {%- if release.model.errors %}
        {%- block releasetab_errors scoped %}
        <div role="tabpanel" class="tab-pane" id="{{ release.model.id }}-errors">
          <h4>{{ _('Errors') }}</h4>
          <pre>{{ release.model.errors|tojson|prettyjson }}</pre>
        </div>
        {%- endblock releasetab_errors %}
        {%- endif %}
      </div>
    </div>
    {%- endblock release_body %}
    {%- set is_last = loop.last %}
    {%- block release_footer scoped %}
    {%- if not is_last %}
    <hr />
    {%- endif %}
    {%- endblock release_footer %}
    {%- endfor %}
    {%- endblock repo_releases %}
  {{ helpers.panel_end() }}
  </div>
{%- endblock %}
